.auth-form__sign-in-link {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.auth-form__sign-in-link:hover {
  opacity: .8;
  cursor: pointer;
}