.popup__input {
    padding: 0 0 10px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    outline: none;
}

/* .popup__input:last-of-type {
    margin-bottom: 48px;
} */